body {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto auto 1fr auto;
    max-width: 700px;
    margin: 0 auto;
}

header {
    grid-column: 1 / 3;
    background-color: #333;
    color: white;
    padding: 30px;
}

nav {
    grid-column: 1 / 3;
    display: flex;
    justify-content: space-around;
    background-color: black;
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
}

main {
    background-color: #ccc;
    min-height: 200px;
    padding: 10px;
}

aside {
    padding: 10px;
}

footer {
    grid-column: 1 / 3;
    background-color: #333;
    color: white;
    padding: 40px;
    text-align: center;
}